# Dependencies
node_modules/
.pnpm-store/
pnpm-lock.yaml
desktop/src-tauri/Cargo.lock
postgres_data_dev/
redis_data_dev/

# Build outputs
dist/
.next/
.turbo/
out/
target/

# Tauri
**/src-tauri/target/
**/src-tauri/WixTools/

# Environment
.env
.env*.local

# Certificates
nginx/certificates/*.pem

# OS
*.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.windsurf

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
web/tsconfig.tsbuildinfo

# Testing
coverage/
.nyc_output/

# Secret Place hehe
secret-place/

# Icons
desktop/src-tauri/icons/*.png
web/public/favicon.ico
