# Dependencies
node_modules/
.pnpm-store/
pnpm-lock.yaml
apps/desktop/src-tauri/Cargo.lock

# Build outputs
dist/
.next/
.turbo/
out/

# Tauri
**/src-tauri/target/
**/src-tauri/WixTools/

# Environment
.env
.env*.local

# Certificates
nginx/certificates/*.pem

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
apps/web/tsconfig.tsbuildinfo

# Testing
coverage/
.nyc_output/

# Secret Place hehe
secret-place/

# Icons
apps/desktop/src-tauri/icons/*.png
apps/web/public/favicon.ico
