DB_HOST=localhost
DB_PORT=3306
DB_NAME=codepulse
DB_USER=codepulse
DB_PASS=secret

STATS_PASSWORD=change-me-now

DOWNLOAD_BASE_URL=https://codepulse.alexis-larose.com/apps
DOWNLOAD_URL_MACOS=https://codepulse.alexis-larose.com/apps/CodePulse_MacOS_arm64.dmg
DOWNLOAD_URL_WINDOWS=https://codepulse.alexis-larose.com/apps/CodePulse_win_x64.msi
DOWNLOAD_URL_DEBIAN=https://github.com/AdlarX9/codepulse
DOWNLOAD_URL_UBUNTU=https://github.com/AdlarX9/codepulse