DB_HOST=localhost
DB_PORT=3306
DB_NAME=codepulse
DB_USER=codepulse
DB_PASS=secret

STATS_PASSWORD=change-me-now

DOWNLOAD_BASE_URL=https://downloads.codepulse.app/
DOWNLOAD_URL_MACOS=https://github.com/AdlarX9/codepulse/releases/latest
DOWNLOAD_URL_WINDOWS=https://github.com/AdlarX9/codepulse/releases/latest
DOWNLOAD_URL_DEBIAN=https://github.com/AdlarX9/codepulse/releases/latest
DOWNLOAD_URL_UBUNTU=https://github.com/AdlarX9/codepulse/releases/latest